*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

nav {
    background: #0b3d3d;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffcc00;
}

.hero {
    background: url("./BGG.jpeg") no-repeat center center /cover;
    height: 90vh;
    color:rgb(237, 242, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
}

section {
    padding: 50px;
    text-align: center;
}

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    padding: 20px;
    margin: 15px;
    background: #f4f4f4;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background: #0b3d3d;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #ffcc00;
    color: black;
}

form input, form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px;
}

footer {
    background: #0b3d3d;
    color: white;
    padding: 20px;
    text-align: center;
}